<div class='container'>
    <div class='row'>
       
        <div class='matCardCustom'>
          <mat-card >
            <mat-toolbar color='primary'>Add Product</mat-toolbar>
            <form #addProds='ngForm' (ngSubmit)='onSubmit()'>

                <div class='form-group'>
                    <mat-form-field appearance='legacy'>
                        <mat-label for='product_name'>Product Name</mat-label>
                        <input matInput class='inputField'  placeholder='here' [(ngModel)]='prod.product_name' name='product_name' id='prod_name' required>
                    </mat-form-field>
                </div>
                <mat-form-field>
                        <mat-select placeholder="Search Options" [(value)]='selected'>
                                <mat-option *ngFor="let item of prodTypes" [value]="item.id" >
                                  {{ item.typeName }}
                                </mat-option>
                            </mat-select>
                </mat-form-field>
               
                {{selected}}
                <div class='form-group'>
                        <mat-form-field appearance='legacy'>
                            <mat-label for='price'>Product Price</mat-label>
                            <input matInput class='inputField' placeholder='here' [(ngModel)]='prod.price' name='price' id='price' required>
                        </mat-form-field>
                </div>

                
                    
                    <div class='row btn-style'>
                        <button mat-raised-button color='primary' type='submit' class='btn  btn-success btn-lg'>SUBMIT</button>
                    </div>
                    
            </form>
            
          </mat-card>
        </div>
    </div>
    
</div>
<p>HELLO: {{addProds.value | json}}</p>