<div class='container'>
  <div class='row'>
      <div class='matCardCustom'>
        <mat-card >
          <mat-toolbar color='primary'>User Type Details</mat-toolbar>
          <mat-card-content>
              <mat-dialog-content *ngIf='userType'>
                <!-- <p>Added by: {{this.userType.user}}</p> -->
                <p>Date Added: {{this.userType.message}}</p>
                <!-- <p>Updated By:{{this.userType.updatedBy.user}}</p> -->
              </mat-dialog-content>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>