<div class='container'>
    <div class='row'>
       
        <div class='matCardCustom'>
          <mat-card >
            <mat-toolbar color='primary'>Product Details</mat-toolbar>
            <mat-card-content>
                <mat-dialog-content>
                  <p>Created by: {{this.prod.product.createdBy.user}}</p>
                  <p>Date Added: {{this.prod.product.addedDate}}</p>
                  <p>Updated By:{{this.prod.product.updatedBy.user}}</p>
                </mat-dialog-content>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
</div>