<mat-card>
    <div class='center'>
      <mat-form-field appearance="outline" class='length'>
          <mat-label >Search here</mat-label>
          <input type="text" matInput [formControl]='search' [matAutocomplete]="auto"><mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete #auto='matAutocomplete'>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
          </mat-autocomplete>
      </mat-form-field>
      &nbsp;
      <button mat-raised-button color='primary' (click)='displaySearch()'>Search!</button>
      &nbsp;
      <mat-form-field>
          <mat-label>Search By:</mat-label>
          <mat-select placeholder="Search Options" [(value)]='searchCategory[0].value'>
            <mat-option *ngFor="let item of searchCategory" [value]="item.value" >
              {{ item.viewValue }}
            </mat-option>
          </mat-select>
      </mat-form-field>
      &nbsp;
      &nbsp;
      <button mat-raised-button color='primary' (click)='getBack()'>Previous</button>
      <button mat-raised-button color='primary' (click)='getMore()'>See More</button>
      &nbsp;
      <button *ngIf mat-raised-button color='primary' (click)='navToArchive()'>View Archives</button>
    </div>
</mat-card>

<mat-card class="mat-elevation-z8 cardBorders">
  <mat-table [dataSource]="dataSource" #table matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.user}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.position.typeName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="password">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Password</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.password}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef='update'>
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef='let row'><button mat-raised-button color='primary' id={{row.id}} name={{row.id}} (click)='openUpdateDialog($event)'>UPDATE</button></mat-cell>
        </ng-container>
        
        <ng-container matColumnDef='delete'>
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef='let row'><button mat-raised-button color='accent' id={{row.id}} name={{row.id}} (click)='openDeleteDialog($event)'>DELETE</button></mat-cell>
        </ng-container>
        
        <ng-container matColumnDef='showDetails'>
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef='let row'><button mat-raised-button id={{row.id}} name={{row.id}} (click)='openDetailDialog($event)'>SHOW DETAILS</button></mat-cell>
        </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator> -->
</mat-card>