<mat-card>
    <div class='center'>
      <mat-form-field appearance="outline" class='length'>
          <mat-label >Search here</mat-label>
          <input type="text" matInput [formControl]='search' [matAutocomplete]="auto"><mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete #auto='matAutocomplete'>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
          </mat-autocomplete>
      </mat-form-field>
      &nbsp;
      <button mat-raised-button color='primary'>Search!</button>
      &nbsp;
      <mat-form-field>
          <mat-label>Search By:</mat-label>
          <mat-select placeholder="Search Options">
            <mat-option *ngFor="let item of searchCategory" [value]="item.value" >
              {{ item.viewValue }}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
</mat-card>
<mat-card class="mat-elevation-z8 cardBorders">
  <mat-table #table matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator> -->
</mat-card>