<div class='container'>
    <div class='row'>
       
        <div class='matCardCustom'>
          <mat-card >
            <mat-toolbar color='primary'>Add Transaction</mat-toolbar>
            <form #addTrans='ngForm' (ngSubmit)='onSubmit()'>
                <div class="form-group">
                    <mat-form-field appearace='legacy'>
                        <mat-label for='buyer_name'>Name of Buyer</mat-label>
                        <input matInput class='inputField' placeholder='here' [(ngModel)]='trans.buyer_name' name='buyer_name' id='buyer_name' required>
                    </mat-form-field>
                </div>
                <div class='form-group'>
                    <mat-form-field appearance='legacy'>
                        <mat-label for='qty'>Product Qty.</mat-label>
                        <input matInput class='inputField'  placeholder='here' [(ngModel)]='trans.quantity' name='quantity' id='quantity' required>
                    </mat-form-field>
                </div>
                
                <mat-form-field>
                        <mat-select placeholder="Search Options" [(value)]='selected' [(ngModel)]='trans.product_id' name='product_id' id='product_id'>
                                <mat-option *ngFor="let item of products" [value]="item.id" >
                                  {{ item.name }}
                                </mat-option>
                        </mat-select>
                        {{selected}}
                </mat-form-field>
                    <div class='row btn-style'>
                        <button mat-raised-button color='primary' type='submit' class='btn  btn-success btn-lg'>SUBMIT</button>
                    </div>
            </form>
          </mat-card>
        </div>
    </div>
    
</div>
