<div class='container'>
        <div class='row'>
           
            <div class='matCardCustom'>
              <mat-card >
                <mat-toolbar color='primary'>Update Product</mat-toolbar>
                <form #updateProds='ngForm' (ngSubmit)='onSubmit()'>
    
                    <div class='form-group'>
                        <mat-form-field appearance='legacy'>
                            <mat-label for='prodName'>Product Name</mat-label>
                            <input matInput class='inputField'  placeholder='here' [(ngModel)]='uProd.product_name' name='product_name' id='product_name' required>
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <mat-select color='primary' [(value)]='uProd.type_id' [(ngModel)]='uProd.type_id' name='type_id' id='type_id'>
                            <mat-option *ngFor="let item of prodTypes" [value]="item.id" >
                              {{ item.typeName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <!-- {{selected}} -->
                    <div class='form-group'>
                            <mat-form-field appearance='legacy'>
                                <mat-label for='price'>Product Price</mat-label>
                                <input matInput class='inputField' placeholder='here' [(ngModel)]='uProd.price' name='price' id='price' required>
                            </mat-form-field>
                    </div>

                        <div class='row btn-style'>
                            <button mat-raised-button color='primary' type='submit' class='btn  btn-success btn-lg'>SUBMIT</button>
                        </div>
                        <p>{{updateProds.value | json}}</p>
                </form>
                
              </mat-card>
            </div>
        </div>
        
    </div>
   