.matCardCustom{
    margin-top:100px;
}
.inputField{
    display:inline-block;
    width:100%;
    margin-top:10px;
}
.customHeight{
    height:100%;
}
mat-card{
    height:50%;
    width:50%;
    margin-left:20%;
    
}
.btn-style{
    margin-top:10px;
    text-align:center;
}