<div class='container'>
  <div class='row'>
     
      <div class='matCardCustom'>
        <mat-card >
          <mat-toolbar color='primary'>Add Product Type</mat-toolbar>
          <form #addProdType='ngForm' (ngSubmit)='onSubmit()'>

              <div class='form-group'>
                  <mat-form-field appearance='legacy'>
                      <mat-label for='type_name'>Product Name</mat-label>
                      <input matInput class='inputField'  placeholder='here' [(ngModel)]='prodType.type_name' name='type_name' id='type_name' required>
                  </mat-form-field>
              </div>
                  
                  <div class='row btn-style'>
                      <button mat-raised-button color='primary' type='submit' class='btn  btn-success btn-lg'>SUBMIT</button>
                  </div>
                  
          </form>
          
        </mat-card>
      </div>
  </div>
  
</div>
